#sidebar {
  float:right;
  width:30 %;
background: rgb(54, 25, 25);
background: rgba(54, 25, 25, .4);
}

#hero{
  background-image: url('../public/storage/cover_images/Photo by Anastasisa Zhenine on Unsplash.jpg');
  background-size: cover;
  background-position: center center;
  //new changes
}
#navbar-default .navbar-nav > li > a:focus {
   background-color: #666;
 }
#navbar{
  height:40px,
  background: #666;
}
#navbar Ul{
  padding-top:13px;
  padding-left:10px;

}
#navbar li{
  a:hover {
   background-image: linear-gradient(#020202, #101112 40%, #191B1D);
  list-style:none;
  float:left;
  padding-right:20px;
